/* =================================
------------------------------------
  Food Blog - Web Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #474747;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14.1px;
	color: #838383;
	line-height: 2.1;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 48px;
	position: relative;
	padding-top: 18px;
}

.section-title:after {
	position: absolute;
	content: "";
	width: 56px;
	height: 5px;
	left: 0;
	top: 0;
	background: #ff2a6b;
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.section-title h2,
.section-title h3 {
	font-weight: 700;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 96px;
	padding-bottom: 96px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}

/*---------------------
	Commom elements
-----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	min-width: 178px;
	text-align: center;
	border: none;
	padding: 18px 5px;
	font-weight: 400;
	font-size: 14px;
	position: relative;
	color: #fff;
	cursor: pointer;
	background: #ff2a6b;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

.header-section {
	clear: both;
}

.header-top {
	background: #ff2a6b;
	overflow: hidden;
	padding: 18px 0;
}

.header-social {
	float: left;
}

.header-social a {
	color: #fff;
	margin-right: 35px;
}

.user-panel {
	float: right;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.user-panel a {
	color: #fff;
}

.header-bottom {
	padding: 38px 0;
	position: relative;
}

.site-logo {
	display: inline-block;
}

.nav-switch {
	display: none;
}

.main-menu,
.footer-menu {
	list-style: none;
	float: right;
	margin-right: 160px;
}

.main-menu li,
.footer-menu li {
	display: inline;
}

.main-menu li a,
.footer-menu li a {
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #474747;
	padding: 25px 20px;
}

.main-menu li a:hover,
.footer-menu li a:hover {
	color: #ff2a6b;
}

.header-search {
	float: right;
	margin-top: 15px;
}

.header-search a {
	height: 37px;
	width: 34px;
	border: none;
	background: #ff2a6b;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
}

/*------------------
  Hero Section
---------------------*/

.hero-section {
	clear: both;
}

.hero-slide-item {
	height: 694px;
	display: table;
	width: 100%;
	overflow: hidden;
}

.hs-text {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.hs-title-1,
.hs-title-2,
.hs-title-3 {
	font-weight: 700;
	color: #fff;
	position: relative;
	margin-bottom: 10px;
}

.hs-title-1 span,
.hs-title-2 span,
.hs-title-3 span {
	display: inline-block;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
	opacity: 0;
}

.hs-title-1 {
	font-size: 72px;
	z-index: 3;
}

.hs-title-1 span {
	padding: 0 28px;
	background: #ff2a6b;
	-webkit-transform: rotate(4deg);
	    -ms-transform: rotate(4deg);
	        transform: rotate(4deg);
}

.hs-title-2 {
	font-size: 48px;
	z-index: 4;
}

.hs-title-2 span {
	padding: 5px 28px;
	background: #fdc856;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	left: 0;
	top: 0;
}

.hs-title-3 {
	font-size: 36px;
	z-index: 5;
}

.hs-title-3 span {
	padding: 10px 28px;
	background: #bdde64;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	top: 0;
}

.owl-item.active .hero-slide-item .hs-title-1 span,
.owl-item.active .hero-slide-item .hs-title-2 span,
.owl-item.active .hero-slide-item .hs-title-3 span {
	opacity: 1;
}

.owl-item.active .hero-slide-item .hs-title-1 span {
	-webkit-transform: rotate(0);
	    -ms-transform: rotate(0);
	        transform: rotate(0);
	-webkit-transition: all 0.4s ease 0.6s;
	-o-transition: all 0.4s ease 0.6s;
	transition: all 0.4s ease 0.6s;
}

.owl-item.active .hero-slide-item .hs-title-2 span {
	-webkit-transform: rotate(-6deg);
	    -ms-transform: rotate(-6deg);
	        transform: rotate(-6deg);
	left: 120px;
	top: -15px;
	-webkit-transition: all 0.4s ease 0.8s;
	-o-transition: all 0.4s ease 0.8s;
	transition: all 0.4s ease 0.8s;
}

.owl-item.active .hero-slide-item .hs-title-3 span {
	-webkit-transform: rotate(3deg);
	    -ms-transform: rotate(3deg);
	        transform: rotate(3deg);
	top: -15px;
	-webkit-transition: all 0.4s ease 1s;
	-o-transition: all 0.4s ease 1s;
	transition: all 0.4s ease 1s;
}

.hero-slider .owl-next {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #ff2a6b;
	color: #ff2a6b;
	border-radius: 50%;
	right: 110px;
	top: calc(50% - 20px);
	text-align: center;
	font-size: 24px;
}

/*------------------
  Add Section
---------------------*/

.add-slider {
	position: absolute;
	width: calc(100% - 33.333333%);
	height: 100%;
	background: #333;
}

.add-slider .owl-stage-outer,
.add-slider .owl-stage,
.add-slider .owl-item,
.add-slider .as-item {
	height: 100%;
}

.add-text-warp {
	position: relative;
	z-index: 2;
}

.add-warp {
	position: relative;
	overflow: hidden;
}

.add-warp .add-text {
	background: #ff2a6b;
	padding: 50px 0 35px;
}

.add-warp .add-text:after {
	position: absolute;
	content: "";
	width: 160px;
	height: 123%;
	left: -80px;
	top: -61px;
	background: #ff2a6b;
	-webkit-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	        transform: rotate(-25deg);
	z-index: -1;
}

.add-warp .add-text h2 {
	font-weight: 700;
	margin-bottom: 15px;
}

.add-warp .add-text ul {
	list-style: none;
}

.add-warp .add-text ul li {
	position: relative;
	font-weight: 500;
	font-size: 14px;
	padding-left: 30px;
	margin-bottom: 15px;
}

.add-warp .add-text ul li:after {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
	background-image: url(../img/icon/check.png);
}

.add-warp .add-text .at-style {
	position: absolute;
	height: 100%;
	width: 40%;
	left: 0;
	z-index: -2;
}

.add-warp .add-text .at-style:after {
	position: absolute;
	content: "";
	width: 160px;
	height: 123%;
	left: -80px;
	top: -61px;
	background: #fdc856;
	-webkit-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	        transform: rotate(-25deg);
	z-index: -1;
}

.add-warp .add-text .at-style:before {
	position: absolute;
	content: "";
	width: 160px;
	height: 123%;
	left: -87px;
	top: -26px;
	background: #bdde64;
	-webkit-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	        transform: rotate(-25deg);
	z-index: -1;
}

/*------------------
  Recipes Section
---------------------*/

.recipes-section .container {
	margin-bottom: -30px;
}

.recipe {
	position: relative;
	margin-bottom: 30px;
}

.recipe .recipe-info-warp {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding-right: 80px;
	overflow: hidden;
}

.recipe .recipe-info {
	padding: 17px 25px 15px;
	background: #ff2a6b;
	position: relative;
}

.recipe .recipe-info:after {
	position: absolute;
	content: "";
	width: 53px;
	height: calc(100% + 40px);
	right: -27px;
	bottom: 0;
	background: #ff2a6b;
	-webkit-transform: rotate(27deg);
	    -ms-transform: rotate(27deg);
	        transform: rotate(27deg);
}

.recipe .recipe-info h3 {
	font-size: 15px;
	color: #fff;
}

.recipe .rating i {
	font-size: 11px;
}

/*----------------------
  Bottom widget Section
------------------------*/

.bottom-widgets-section {
	background: #f4f7fb;
}

.sp-recipes-list {
	list-style: none;
}

.sp-recipes-list li {
	margin-bottom: 22px;
}

.sp-recipes-list .rl-thumb {
	width: 77px;
	height: 77px;
	float: left;
}

.sp-recipes-list .rl-info {
	padding-left: 90px;
}

.sp-recipes-list .rl-info span {
	font-size: 12px;
	font-weight: 500;
	color: #ff2a6b;
}

.sp-recipes-list .rl-info h6 {
	margin-bottom: 12px;
	padding-top: 2px;
}

.sp-recipes-list .rl-info .rating {
	font-size: 12px;
}

.sp-blog-item {
	margin-top: 30px;
	-webkit-box-shadow: 0 17px 29px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 17px 29px rgba(0, 0, 0, 0.15);
}

.sp-blog-item .blog-thubm {
	position: relative;
}

.sp-blog-item .blog-thubm img {
	min-width: 100%;
}

.sp-blog-item .blog-date {
	position: absolute;
	top: 0;
	left: 0;
	background: #ff2a6b;
	color: #fff;
	font-size: 14px;
	padding: 15px 24px 15px 30px;
}

.sp-blog-item .blog-date span {
	position: relative;
	z-index: 2;
}

.sp-blog-item .blog-date:after {
	position: absolute;
	content: "";
	right: -30px;
	top: 0;

	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 51px solid #ff2a6b;
	z-index: 0;
}

.sp-blog-item .blog-text {
	padding: 48px 40px 45px;
	background: #fff;
	position: relative;
}

.sp-blog-item .blog-text h5 {
	margin-bottom: 10px;
}

.sp-blog-item .blog-text span {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #ff2a6b;
}

.sp-blog-item .blog-text .comment {
	font-size: 12px;
	color: #474747;
}

.sp-blog-item .readmore {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 41px;
	height: 41px;
	text-align: center;
	background: #ff2a6b;
	color: #fff;
	font-size: 23px;
	padding-top: 4px;
}

/*------------------
  Review Section
---------------------*/

.review-section {
	padding: 65px 0;
	background: #fdc856;
}

.review-item {
	overflow: hidden;
	background: #fff;
}

.review-item .review-thumb {
	width: 166px;
	height: 160px;
	float: left;
	position: relative;
}

.review-item .review-text {
	padding-top: 25px;
	padding-left: 195px;
}

.review-item .review-text span {
	font-size: 12px;
	font-weight: 500;
	color: #ff2a6b;
}

.review-item .review-text h6 {
	margin-bottom: 10px;
}

.review-item .rating {
	font-size: 12px;
	margin-bottom: 15px;
}

.review-item .author-pic {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	float: left;
}

.review-item .review-date {
	position: absolute;
	top: 0;
	left: 0;
	background: #ff2a6b;
	color: #fff;
	font-size: 12px;
	padding: 9px 2px 8px 13px;
}

.review-item .review-date span {
	position: relative;
	z-index: 1;
}

.review-item .review-date:after {
	position: absolute;
	content: "";
	right: -19px;
	top: 0;

	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	border-top: 36px solid #ff2a6b;
	z-index: 0;
}

.review-item p {
	padding-left: 55px;
	margin-bottom: 0;
	padding-top: 4px;
}

/*------------------
  Gallery Section
---------------------*/

.gallery-slider .gs-item {
	height: 320px;
}

/*------------------
  Footer Section
---------------------*/

.footer-section {
	padding: 60px 70px 50px;
}

.footer-social {
	margin-top: 25px;
}

.footer-social a {
	color: #b8b8b8;
	font-size: 14px;
	margin-right: 30px;
}

.footer-social a:hover {
	color: #ff2a6b;
}

.footer-menu {
	float: none;
	margin-right: 0;
}

.footer-menu li a {
	padding: 20px 15px;
}

.footer-menu li:last-child a {
	padding-right: 0;
}

.copyright {
	margin-bottom: 0;
	padding-top: 10px;
}

/*------------------
  Pages
---------------------
========================*/

.page-top-section {
	text-align: center;
}

.page-top-section h2 {
	font-size: 72px;
	display: inline-block;
	font-weight: 700;
	color: #fff;
	padding: 5px 30px;
	margin: 68px 0;
	border-radius: 4px;
	background: #ff2a6b;
	-webkit-box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);
}

.site-pagination {
	padding-top: 70px;
}

.site-pagination a,
.site-pagination span {
	min-width: 48px;
	height: 48px;
	display: inline-block;
	text-align: center;
	padding: 13px 10px 0;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #cccccc;
	margin-right: 4px;
}

.site-pagination span {
	background: #ff2a6b;
}

.recipe-view {
	text-align: right;
	padding-top: 20px;
}

.recipe-view i {
	font-size: 22px;
	margin-left: 5px;
	color: #cccccc;
	cursor: pointer;
}

.recipe-view i.active {
	color: #474747;
}

/*------------------
  About Pages
---------------------*/

.sf-warp {
	width: 1229px;
	margin: 72px auto 0;
	padding: 44px 0;
	background: #ff2a6b;
}

.big-search-form select {
	height: 59px;
	border: none;
	background: #fff;
	padding: 0 25px;
	font-size: 14px;
	color: #6d6d6d;
	font-style: italic;
	float: left;
	margin-right: 17px;
	width: calc(23.9% - 17px);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-image: url(../img/icon/angle-bottom.png);
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 35px;
}

.big-search-form input {
	height: 59px;
	border: none;
	padding: 0 25px;
	margin-right: 17px;
	width: calc(40.6% - 17px);
	float: left;
	font-size: 14px;
}

.big-search-form .bsf-btn {
	border: none;
	height: 59px;
	font-size: 14px;
	color: #fff;
	min-width: 132px;
	background: #474747;
}

.big-search-form ::-webkit-input-placeholder {
	font-style: italic;
}

.big-search-form :-ms-input-placeholder {
	font-style: italic;
}

.big-search-form ::-ms-input-placeholder {
	font-style: italic;
}

.big-search-form ::placeholder {
	font-style: italic;
}

.about-text h2 {
	font-weight: 600;
	margin-bottom: 65px;
}

.about-text p {
	margin-bottom: 50px;
}

.facts-warp {
	width: 1558px;
	margin: 0 auto;
	background: #eff3f7;
	padding: 115px 0;
}

.fact-item {
	text-align: center;
}

.fact-item .fact-icon {
	margin-bottom: 20px;
}

.fact-item h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 10px;
}

.fact-item p {
	font-size: 18px;
	font-weight: 500;
	color: #474747;
}

.newsletter-section .nl-text h2 {
	font-weight: 600;
	margin-bottom: 50px;
}

.newsletter-section .nl-text p {
	font-size: 12px;
	font-style: italic;
	line-height: 2.4;
}

.newsletter-section .nl-sp-img {
	min-width: 649px;
	position: relative;
	left: 70px;
	padding-top: 20px;
}

.newsletter-form {
	position: relative;
	margin-bottom: 35px;
}

.newsletter-form input {
	width: 100%;
	font-size: 12px;
	border: none;
	height: 58px;
	padding-left: 35px;
	padding-right: 215px;
	background: #eff3f7;
}

.newsletter-form .site-btn {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

/*---------------------
  Recipe single Pages
------------------------*/

.recipe-view-section .rv-warp {
	height: 767px;
	width: 1540px;
	margin: -45px auto 0px;
	position: relative;
	z-index: -1;
}

.recipe-details-section {
	padding-top: 64px;
	padding-bottom: 70px;
}

.racipe-cata {
	display: inline-block;
	background: #ff2a6b;
	color: #fff;
	font-size: 16px;
	padding: 14px 20px 12px 30px;
	position: relative;
	margin-bottom: 10px;
}

.racipe-cata span {
	position: relative;
	z-index: 1;
}

.racipe-cata:after {
	position: absolute;
	content: "";
	right: -30px;
	top: 0;

	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #ff2a6b;
	z-index: 0;
}

.recipe-meta h2 {
	font-weight: 600;
}

.recipe-meta .recipe-date {
	font-size: 14px;
	color: #a4a4a4;
	margin-bottom: 30px;
}

.recipe-meta .rating {
	margin-bottom: 55px;
}

.recipe-meta .rating i {
	margin-right: 2px;
}

.recipe-info-list {
	list-style: none;
	padding-left: 17px;
}

.recipe-info-list li {
	margin-bottom: 50px;
}

.recipe-info-list h2 {
	float: left;
	font-weight: 600;
	min-width: 60px;
}

.recipe-info-list p {
	padding-left: 70px;
	margin-bottom: 0;
	padding-top: 13px;
	font-size: 14px;
}

.recipe-filter-warp {
	background: #eff3f7;
}

.recipe-filter-warp .filter-top {
	padding-right: 110px;
	overflow: hidden;
}

.recipe-filter-warp .filter-top .filter-top-text {
	background: #ff2a6b;
	padding: 22px 50px;
	position: relative;
}

.recipe-filter-warp .filter-top .filter-top-text:after {
	position: absolute;
	content: "";
	width: 60px;
	height: 120%;
	right: -30px;
	top: -20px;
	background: #ff2a6b;
	-webkit-transform: rotate(22deg);
	    -ms-transform: rotate(22deg);
	        transform: rotate(22deg);
}

.recipe-filter-warp .filter-top .filter-top-text p {
	margin-bottom: 0;
	color: #fff;
	font-size: 15px;
	position: relative;
	z-index: 1;
}

.recipe-filter-warp .filter-form-warp {
	padding: 55px;
	padding-right: 30px;
}

.recipe-filter-warp .filter-form-warp h2 {
	font-weight: 600;
	margin-bottom: 35px;
}

.recipe-filter-warp .filter-form .check-warp {
	display: block;
	margin-bottom: 25px;
}

.recipe-filter-warp .filter-form .check-warp:last-child {
	margin-bottom: 0;
}

.recipe-filter-warp .filter-form label {
	font-size: 16px;
	position: relative;
	padding-left: 55px;
	padding-top: 2px;
	cursor: pointer;
}

.recipe-filter-warp .filter-form label:after {
	position: absolute;
	content: "";
	width: 27px;
	height: 27px;
	left: 0;
	top: 0;
	background: #fff;
	border: 1px solid #aaaaaa;
}

.recipe-filter-warp .filter-form input[type=checkbox] {
	visibility: hidden;
	position: absolute;
	z-index: -1;
}

.recipe-filter-warp .filter-form input[type=checkbox]:checked+label:after {
	background-image: url("../img/icon/check-2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ff2a6b;
	border-color: #ff2a6b;
}

.comment-section h4 {
	font-weight: 600;
	margin-bottom: 75px;
}

.comment-form input,
.comment-form textarea,
.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 53px;
	border: none;
	background: #eff3f7;
	font-size: 14px;
	padding: 0 30px;
	margin-bottom: 25px;
}

.comment-form textarea,
.contact-form textarea {
	height: 232px;
	padding: 30px;
}

.comment-form .site-btn,
.contact-form .site-btn {
	min-width: 149px;
}

.comment-form ::-webkit-input-placeholder,
.contact-form ::-webkit-input-placeholder {
	font-style: italic;
}

.comment-form :-ms-input-placeholder,
.contact-form :-ms-input-placeholder {
	font-style: italic;
}

.comment-form ::-ms-input-placeholder,
.contact-form ::-ms-input-placeholder {
	font-style: italic;
}

.comment-form ::placeholder,
.contact-form ::placeholder {
	font-style: italic;
}

/*------------------
  Contact Pages
---------------------*/

.contact-form-warp h4 {
	font-weight: 600;
	margin-bottom: 75px;
}

.contact-logo {
	margin-bottom: 40px;
}

.contact-info {
	padding-left: 95px;
}

.contact-info .ct-list {
	list-style: none;
}

.contact-info .ct-list li {
	margin-bottom: 25px;
}

.contact-info .ct-list h6 {
	display: inline-block;
	color: #ff2a6b;
	padding-bottom: 1px;
	border-bottom: 1px solid #ff2a6b;
	margin-bottom: 5px;
}

.contact-info .ct-list p {
	margin-bottom: 0;
	font-weight: 500;
	color: #474747;
}

.contact-social {
	padding-top: 30px;
}

.contact-social a {
	color: #474747;
	margin-right: 30px;
}

.contact-social a:last-child {
	margin-right: 0;
}

.location-map {
	height: 579px;
	margin-top: 16px;
	background: #ddd;
}

/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media (max-width: 1559px) {
	.facts-warp {
		width: 100%;
	}
	.newsletter-section .nl-sp-img {
		min-width: auto;
		left: 30px;
	}
	.recipe-view-section .rv-warp {
		width: 100%;
		margin-top: 0;
	}
}

@media (max-width: 1250px) {
	.sf-warp {
		width: 100%;
	}
	.newsletter-section .nl-sp-img {
		left: 0;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 40px;
	}
	.gallery-slider .gs-item {
		height: 235px;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.8);
		    -ms-transform: scale(0.8);
		        transform: scale(0.8);
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
	}
	.big-search-form input {
		width: calc(37.6% - 17px);
	}
	.footer-menu li a {
		padding: 15px 8px;
	}
	.recipe .recipe-info:after {
		right: -32px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		max-width: 170px;
	}
	.main-menu {
		margin-right: 15px;
	}
	.main-menu li a {
		padding: 10px 12px;
	}
	.header-search {
		margin-top: 0;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.7);
		    -ms-transform: scale(0.7);
		        transform: scale(0.7);
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
	}
	.hero-slider .owl-next {
		right: 50px;
	}
	.review-item {
		margin: 10px 0;
	}
	.gallery-slider .gs-item {
		height: 242px;
	}
	.footer-menu li:first-child a {
		padding-left: 0;
	}
	.big-search-form select {
		width: calc(51% - 17px);
		margin-bottom: 20px;
	}
	.big-search-form select:nth-child(2) {
		margin-right: 0;
	}
	.big-search-form input {
		width: calc(73.3% - 17px);
	}
	.big-search-form .bsf-btn {
		width: 182px;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.fact-item {
		margin-bottom: 40px;
	}
	.facts-section .container {
		margin-bottom: -40px;
	}
	.recipe-filter-warp {
		margin-bottom: 50px;
	}
	.contact-form-warp {
		margin-bottom: 50px;
	}
	.contact-info {
		padding-left: 0;
	}
	.contact-info .ct-list li {
		float: left;
		margin-right: 50px;
	}
	.contact-info .ct-list li:last-child {
		margin-right: 0;
	}
	.contact-social {
		clear: both;
		margin-bottom: 40px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.main-menu {
		display: none;
		float: none;
		position: absolute;
		background: #fff;
		width: 100%;
		left: 0;
		top: 100%;
		z-index: 999;
	}
	.main-menu li {
		display: block;
	}
	.main-menu li a {
		display: block;
		color: #333;
		margin-left: 0;
		padding: 13px 20px;
		border-top: 1px solid #ededed;
	}
	.nav-switch {
		display: block;
		float: right;
		width: 38px;
		height: 38px;
		border: 1px solid #ddd;
		text-align: center;
		font-size: 24px;
		margin-left: 15px;
	}
	.header-search {
		margin-top: 0;
	}
	.hero-slide-item {
		height: 594px;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.6);
		    -ms-transform: scale(0.6);
		        transform: scale(0.6);
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
	}
	.hs-title-1 {
		font-size: 60px;
	}
	.hs-title-2 {
		font-size: 45px;
	}
	.hs-title-3 {
		font-size: 35px;
	}
	.hero-slider .owl-next {
		right: 20px;
	}
	.add-warp {
		padding-left: 170px;
	}
	.review-item {
		margin: 10px 0;
	}
	.ftw-warp:first-child {
		margin-bottom: 30px;
	}
	.footer-section {
		text-align: center;
	}
	.footer-social a {
		color: #474747;
		margin-right: 20px;
	}
	.footer-menu {
		margin: 30px 0 10px;
	}
	.footer-menu li a {
		padding: 5px 10px;
	}
	.gallery-slider .gs-item {
		height: 150px;
	}
	.big-search-form select,
	.big-search-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.big-search-form {
		text-align: center;
	}
	.big-search-form .bsf-btn {
		width: 182px;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.fact-item {
		margin-bottom: 40px;
	}
	.facts-section .container {
		margin-bottom: -40px;
	}
	.page-top-section h2 {
		font-size: 42px;
	}
	.recipe-filter-warp {
		margin-bottom: 50px;
	}
	.recipe-view {
		margin-bottom: 20px;
	}
	.footer-section {
		padding: 60px 15px 50px;
	}
	.contact-form-warp {
		margin-bottom: 50px;
	}
	.contact-info {
		padding-left: 0;
	}
	.contact-info .ct-list li {
		float: left;
		margin-right: 50px;
	}
	.contact-info .ct-list li:last-child {
		margin-right: 0;
	}
	.contact-social {
		clear: both;
		margin-bottom: 40px;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.add-warp {
		padding-left: 0px;
	}
	.add-warp .add-text {
		padding-left: 30px;
		padding-right: 20px;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.6);
		    -ms-transform: scale(0.6);
		        transform: scale(0.6);
	}
	.hs-title-1 {
		font-size: 40px;
	}
	.hs-title-2 {
		font-size: 30px;
	}
	.hs-title-3 {
		font-size: 20px;
	}
	.owl-item.active .hero-slide-item .hs-title-1 span,
	.owl-item.active .hero-slide-item .hs-title-2 span,
	.owl-item.active .hero-slide-item .hs-title-3 span {
		-webkit-transform: rotate(0);
		    -ms-transform: rotate(0);
		        transform: rotate(0);
		left: 0;
		top: 0;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.site-logo {
		max-width: 170px;
	}
	.header-social {
		display: none;
	}
	.user-panel {
		float: none;
		text-align: center;
	}
	.gallery-slider .gs-item {
		height: 100px;
	}
	.review-item .review-thumb {
		float: none;
		margin: 20px auto 0;
	}
	.review-item .review-text {
		clear: both;
		padding-bottom: 30px;
		padding-left: 30px;
		text-align: center;
	}
	.review-item .author-pic {
		float: none;
		display: inline-block;
	}
	.review-item p {
		padding-left: 0;
	}
	.page-top-section h2 {
		font-size: 32px;
	}
	.recipe-filter-warp .filter-top {
		padding-right: 58px;
	}
	.recipe-info-list {
		padding-left: 0;
	}
}

@media only screen and (max-width: 330px) {
	.recipe-filter-warp .filter-top,
	.recipe .recipe-info-warp {
		padding-right: 0;
	}
}
.blog_info .post_tag {color:#131230}.blog_info .post_tag a:hover{color: #ff2a6b
									}  .blog_info .post_tag a.active{color: #ff617e
									   }
.blog_info .blog_meta li a{color:#777777;vertical-align:middle;padding-bottom:12px;display:inline-block}.blog_info .blog_meta li a i{color: #aaaaaa;font-size:16px;font-weight:600;padding-left:15px;line-height:20px;vertical-align:middle}
.blog_info .blog_meta li a:hover{color: #ff2a6b
}  .blog_post img{max-width:100%}  .blog_details{padding-top:20px}  .blog_details h4{font-size:24px;line-height:36px;color: #aaaaaa;font-weight:600;transition:all 0.3s linear}  .blog_details h4:hover{color: #ff617e
																																												}  .blog_details p{margin-bottom:26px}
.blog_details .template-btn{color: #aaaaaa !important;padding:10px 24px !important;background:#f9f9ff}  .blog_details .template-btn:hover{color:#fff !important;background: #ff2a6b;border:1px solid transparent}  .blog_right_sidebar{border:1px solid #eee;background:#f9f9ff;padding:30px}  .blog_right_sidebar .widget_title{font-size:18px;line-height:25px;background:#ffb606;text-align:center;color:#fff;padding:8px 0px;margin-bottom:30px}
.blog_right_sidebar .search_widget .input-group .form-control{font-size:14px;line-height:29px;border:0px;width:100%;font-weight:300;color:#fff;padding-left:20px;border-radius:45px;z-index:0;background: #ff2a6b
}  .blog_right_sidebar .search_widget .input-group .form-control:focus{box-shadow:none}  .blog_right_sidebar .search_widget .input-group .btn-default{position:absolute;right:20px;background:transparent;border:0px;box-shadow:none;font-size:14px;color:#fff;padding:0px;top:50%;transform:translateY(-50%);z-index:1}
.blog_right_sidebar .author_widget{text-align:center}.blog_right_sidebar .author_widget h5{font-size:18px;line-height:20px;margin-bottom:5px;margin-top:30px}.blog_right_sidebar .author_widget p{margin-bottom:0px}.blog_right_sidebar .author_widget .social_icon{padding:7px 0px 15px}.blog_right_sidebar .author_widget .social_icon a{font-size:14px;color: #aaaaaa;transition:all 0.2s linear}  .blog_right_sidebar .author_widget .social_icon a+a{margin-left:20px}  .blog_right_sidebar .author_widget .social_icon a:hover{color: #ff2a6b
																																																																																																																			 }  .blog_right_sidebar .popular_post_widget
																																																																																																																																																																																																																																							 .widget_title{font-size:18px;line-height:25px;background: #ff2a6b;text-align:center;color:#fff;padding:8px 0px;margin-bottom:30px}
.widget_title{font-size:18px;line-height:25px;background: #ff2a6b;text-align:center;color:#fff;padding:8px 0px;margin-bottom:30px}																																																																																																																																																																																												}  .blog_right_sidebar .popular_post_widget .post_item .media-body p{font-size:12px;line-height:21px;margin-bottom:0px}
.blog_right_sidebar .popular_post_widget .post_item+.post_item{margin-top:20px}.blog_right_sidebar .post_category_widget .cat-list li{border-bottom:2px dotted #eee;transition:all 0.3s ease 0s;padding-bottom:12px}.blog_right_sidebar .post_category_widget .cat-list li a{font-size:14px;line-height:20px;color:#777}.blog_right_sidebar .post_category_widget .cat-list li a p{margin-bottom:0px}.blog_right_sidebar .post_category_widget .cat-list li+li{padding-top:15px}.blog_right_sidebar
																																																																																																																				.post_category_widget .cat-list li:hover{border-color: #ff2a6b
																																																																																																																				}  .blog_right_sidebar .post_category_widget .cat-list li:hover a{color: #ff617e
																																																																																																																				   }  .blog_right_sidebar .newsletter_widget{text-align:center}  .blog_right_sidebar .newsletter_widget .form-group{margin-bottom:8px}
.blog_right_sidebar .newsletter_widget .input-group-prepend{margin-right:-1px}.blog_right_sidebar .newsletter_widget .input-group-text{background:#fff;border-radius:0px;vertical-align:top;font-size:12px;line-height:36px;padding:0px 0px 0px 15px;border:1px solid #eeeeee;border-right:0px}.blog_right_sidebar .newsletter_widget .form-control{font-size:12px;line-height:24px;color:#cccccc;border:1px solid #eeeeee;border-left:0px;border-radius:0px}.blog_right_sidebar .newsletter_widget .form-control:focus{outline:none;box-shadow:none}
.blog_right_sidebar .newsletter_widget .bbtns{color:#fff;background: #ff2a6b;font-size:12px;line-height:38px;display:inline-block;font-weight:500;padding:0px 24px 0px 24px;border-radius:0}  .blog_right_sidebar .newsletter_widget .text-bottom{font-size:12px}  .blog_right_sidebar .tag_cloud_widget ul li{display:inline-block}  .blog_right_sidebar .tag_cloud_widget ul li a{color:#131230;display:inline-block;border:1px solid #eee;background:#fff;padding:5px 13px;margin-bottom:8px;transition:all 0.3s ease 0s;font-size:12px}  .blog_right_sidebar .tag_cloud_widget ul li a:hover{background:#ffb606;color:#fff}  .blog_right_sidebar .br{width:100%;height:1px;background:#eee;margin:30px 0px}  .blog-pagination{padding-top:25px;padding-bottom:95px}
.blog-pagination .page-link{border-radius:0}.blog-pagination .page-item{border:none}.page-link{background:transparent;font-weight:400}.blog-pagination .page-item.active .page-link{background-color: #ff2a6b;border-color:transparent;color:#fff}  .blog-pagination .page-link{position:relative;display:block;padding:0.5rem 0.75rem;margin-left:-1px;line-height:1.25;color:#8a8a8a;border:none}  .blog-pagination .page-item:last-child .page-link,.blog-pagination .page-item:first-child .page-link{border-radius:0}  .blog-pagination .page-link:hover{color:#fff;text-decoration:none;background-color:#ffb606;border-color:#eee}
.single-post .social-links{padding-top:10px}.single-post .social-links li{display:inline-block;margin-bottom:10px}.single-post .social-links li a{color:#cccccc;padding:7px;font-size:14px;transition:all 0.2s linear}.single-post .social-links li a:hover{color:#131230}.single-post .blog_details{padding-top:26px}.single-post .blog_details p{margin-bottom:10px}.single-post .quotes{margin-top:20px;margin-bottom:30px;padding:24px 35px 24px 30px;background-color:#fff;box-shadow:-20.84px 21.58px 30px 0px rgba(176,176,176,0.1);font-size:14px;line-height:24px;color:#777;font-style:italic}.single-post .arrow{position:absolute}.single-post .arrow .lnr{font-size:20px;font-weight:600}.single-post .thumb .overlay-bg{background:rgba(0,0,0,0.8)}@media (max-width: 991px){.single-post .sidebar-widgets{padding-bottom:0px}}.comments-area{background:#fafaff;border:1px solid #eee;padding:50px 30px;margin-top:50px}@media (max-width: 414px){.comments-area{padding:50px 8px}}.comments-area h4{text-align:center;margin-bottom:50px;color:#131230;font-size:18px}.comments-area h5{font-size:16px;margin-bottom:0px}.comments-area a{color:#131230}.comments-area .comment-list{padding-bottom:48px}.comments-area .comment-list:last-child{padding-bottom:0px}.comments-area .comment-list.left-padding{padding-left:25px}@media (max-width: 413px){.comments-area .comment-list .single-comment h5{font-size:12px}.comments-area .comment-list .single-comment .date{font-size:11px}.comments-area .comment-list .single-comment .comment{font-size:10px}}.comments-area .thumb{margin-right:20px}.comments-area .date{font-size:13px;color:#cccccc;margin-bottom:13px}.comments-area .comment{color:#777777;margin-bottom:0px}.comments-area .btn-reply{background-color:#fff;color:#131230;border:1px solid #eee;padding:5px 18px;font-size:12px;display:block;font-weight:600;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}.comments-area .btn-reply:hover{background-color:#ffb606;color:#fff !important}.comment-form{background:#fafaff;text-align:center;border:1px solid #eee;padding:47px 30px 43px;margin-top:50px;margin-bottom:40px}.comment-form h4{text-align:center;margin-bottom:50px;font-size:18px;line-height:22px;color:#131230}.comment-form .name{padding-left:0px}@media (max-width: 767px){.comment-form .name{padding-right:0px;margin-bottom:1rem}}.comment-form .email{padding-right:0px}@media (max-width: 991px){.comment-form .email{padding-left:0px}}.comment-form .form-control{padding:8px 20px;background:#fff;border:none;border-radius:0px;width:100%;font-size:14px;color:#777777;border:1px solid transparent}.comment-form .form-control:focus{box-shadow:none;border:1px solid #eee}.comment-form textarea.form-control{height:140px;resize:none}.comment-form ::-webkit-input-placeholder{font-size:13px;color:#777}.comment-form ::-moz-placeholder{font-size:13px;color:#777}.comment-form :-ms-input-placeholder{font-size:13px;color:#777}.comment-form :-moz-placeholder{font-size:13px;color:#777}.footer-area.footer{background:#131230}.footer-area.footer h5,.footer-area.footer p{color:#fff}.footer-area.footer .footer-copyright span{color:#fff}#mapBox{width:100%;height:420px;overflow:hidden}.info-text h5{text-transform:inherit}.into-icon i{font-size:20px;color:#ffb606;margin-right:20px}.contact-form form .left,.commentform-area form .left{width:48%;float:left;overflow:hidden;margin-right:4%}@media (max-width: 575.98px){.contact-form form .left,.commentform-area form .left{width:100%;float:none}}.contact-form form .left input,.commentform-area form .left input{width:100%;border:1px solid #eee;padding:12px 20px;margin-bottom:20px}.contact-form form .right,.commentform-area form .right{width:48%;overflow:hidden}@media (max-width: 575.98px){.contact-form form .right,.commentform-area form .right{width:100%;float:none}}.contact-form form .right textarea,.commentform-area form .right textarea{width:100%;border:1px solid #eee;padding:12px 20px}.contact-form form button,.commentform-area form button{margin-top:20px;float:right}@media (max-width: 575.98px){.contact-form form button,.commentform-area form button{float:left}}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.sample-text-area{padding:100px 0px}.sample-text-area .title_color{margin-bottom:30px}.sample-text-area p{line-height:26px}.sample-text-area p b{font-weight:bold;color:#ffb606}.sample-text-area p i{color:#ffb606;font-style:italic}.sample-text-area p sup{color:#ffb606;font-style:italic}.sample-text-area p sub{color:#ffb606;font-style:italic}.sample-text-area p del{color:#ffb606}.sample-text-area p u{color:#ffb606}.elements_button .title_color{margin-bottom:30px;color:#131230}.title_color{color:#131230}.button-group-area{margin-top:15px}.button-group-area:nth-child(odd){margin-top:40px}.button-group-area:first-child{margin-top:0px}.button-group-area .theme_btn{margin-right:10px}.button-group-area .white_btn{margin-right:10px}.button-group-area .link{text-decoration:underline;color:#131230;background:transparent}.button-group-area .link:hover{color:#fff}.button-group-area .disable{background:transparent;color:#007bff;cursor:not-allowed}.button-group-area .disable:before{display:none}.primary{background:#52c5fd}.primary:before{background:#2faae6}.success{background:#4cd3e3}.success:before{background:#2ebccd}.info{background:#38a4ff}.info:before{background:#298cdf}.warning{background:#f4e700}.warning:before{background:#e1d608}.danger{background:#f54940}.danger:before{background:#e13b33}.primary-border{background:transparent;border:1px solid #52c5fd;color:#52c5fd}.primary-border:before{background:#52c5fd}.success-border{background:transparent;border:1px solid #4cd3e3;color:#4cd3e3}.success-border:before{background:#4cd3e3}.info-border{background:transparent;border:1px solid #38a4ff;color:#38a4ff}.info-border:before{background:#38a4ff}.warning-border{background:#fff;border:1px solid #f4e700;color:#f4e700}.warning-border:before{background:#f4e700}.danger-border{background:transparent;border:1px solid #f54940;color:#f54940}.danger-border:before{background:#f54940}.link-border{background:transparent;border:1px solid #ffb606;color:#ffb606}.link-border:before{background:#ffb606}.radius{border-radius:3px}.circle{border-radius:20px}.arrow span{padding-left:5px}.e-large{line-height:50px;padding-top:0px;padding-bottom:0px}.large{line-height:45px;padding-top:0px;padding-bottom:0px}.medium{line-height:30px;padding-top:0px;padding-bottom:0px}.small{line-height:25px;padding-top:0px;padding-bottom:0px}.general{line-height:38px;padding-top:0px;padding-bottom:0px}.generic-banner{margin-top:60px;text-align:center}.generic-banner .height{height:600px}@media (max-width: 767.98px){.generic-banner .height{height:400px}}.generic-banner .generic-banner-content h2{line-height:1.2em;margin-bottom:20px}@media (max-width: 991.98px){.generic-banner .generic-banner-content h2 br{display:none}}.generic-banner .generic-banner-content p{text-align:center;font-size:16px}@media (max-width: 991.98px){.generic-banner .generic-banner-content p br{display:none}}.generic-content h1{font-weight:600}.about-generic-area{background:#fff}.about-generic-area p{margin-bottom:20px}.white-bg{background:#fff}.section-top-border{padding:50px 0;border-top:1px dotted #eee}.switch-wrap{margin-bottom:10px}.switch-wrap p{margin:0}.sample-text-area{padding:100px 0 70px 0}.sample-text{margin-bottom:0}.text-heading{margin-bottom:30px;font-size:24px}.typo-list{margin-bottom:10px}@media (max-width: 767px){.typo-sec{margin-bottom:30px}}@media (max-width: 767px){.element-wrap{margin-top:30px}}b,sup,sub,u,del{color:#f8b600}h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:18px}h5{font-size:16px}h6{font-size:14px}.typography h1,.typography h2,.typography h3,.typography h4,.typography h5,.typography h6{color:#777777}.button-area .border-top-generic{padding:70px 15px;border-top:1px dotted #eee}.button-group-area .genric-btn{margin-right:10px;margin-top:10px}.button-group-area .genric-btn:last-child{margin-right:0}.circle{border-radius:20px}.genric-btn{display:inline-block;outline:none;line-height:40px;padding:0 30px;font-size:.8em;text-align:center;text-decoration:none;font-weight:500;cursor:pointer;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.genric-btn:focus{outline:none}.genric-btn.e-large{padding:0 40px;line-height:50px}.genric-btn.large{line-height:45px}.genric-btn.medium{line-height:30px}.genric-btn.small{line-height:25px}.genric-btn.radius{border-radius:3px}.genric-btn.circle{border-radius:20px}.genric-btn.arrow{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.genric-btn.arrow span{margin-left:10px}.genric-btn.default{color:#222222;background:#f9f9ff;border:1px solid transparent}.genric-btn.default:hover{border:1px solid #f9f9ff;background:#fff}.genric-btn.default-border{border:1px solid #f9f9ff;background:#fff}.genric-btn.default-border:hover{color:#222222;background:#f9f9ff;border:1px solid transparent}.genric-btn.primary{color:#fff;background:#f8b600;border:1px solid transparent}.genric-btn.primary:hover{color:#f8b600;border:1px solid #f8b600;background:#fff}.genric-btn.primary-border{color:#f8b600;border:1px solid #f8b600;background:#fff}.genric-btn.primary-border:hover{color:#fff;background:#f8b600;border:1px solid transparent}.genric-btn.success{color:#fff;background:#4cd3e3;border:1px solid transparent}.genric-btn.success:hover{color:#4cd3e3;border:1px solid #4cd3e3;background:#fff}.genric-btn.success-border{color:#4cd3e3;border:1px solid #4cd3e3;background:#fff}.genric-btn.success-border:hover{color:#fff;background:#4cd3e3;border:1px solid transparent}.genric-btn.info{color:#fff;background:#38a4ff;border:1px solid transparent}.genric-btn.info:hover{color:#38a4ff;border:1px solid #38a4ff;background:#fff}.genric-btn.info-border{color:#38a4ff;border:1px solid #38a4ff;background:#fff}.genric-btn.info-border:hover{color:#fff;background:#38a4ff;border:1px solid transparent}.genric-btn.warning{color:#fff;background:#f4e700;border:1px solid transparent}.genric-btn.warning:hover{color:#f4e700;border:1px solid #f4e700;background:#fff}.genric-btn.warning-border{color:#f4e700;border:1px solid #f4e700;background:#fff}.genric-btn.warning-border:hover{color:#fff;background:#f4e700;border:1px solid transparent}.genric-btn.danger{color:#fff;background:#f44a40;border:1px solid transparent}.genric-btn.danger:hover{color:#f44a40;border:1px solid #f44a40;background:#fff}.genric-btn.danger-border{color:#f44a40;border:1px solid #f44a40;background:#fff}.genric-btn.danger-border:hover{color:#fff;background:#f44a40;border:1px solid transparent}.genric-btn.link{color:#222222;background:#f9f9ff;text-decoration:underline;border:1px solid transparent}.genric-btn.link:hover{color:#222222;border:1px solid #f9f9ff;background:#fff}.genric-btn.link-border{color:#222222;border:1px solid #f9f9ff;background:#fff;text-decoration:underline}.genric-btn.link-border:hover{color:#222222;background:#f9f9ff;border:1px solid transparent}.genric-btn.disable{color:#222222, 0.3;background:#f9f9ff;border:1px solid transparent;cursor:not-allowed}.generic-blockquote{padding:30px 50px 30px 30px;background:#fff;border-left:2px solid #ffb606}@media (max-width: 991px){.progress-table-wrap{overflow-x:scroll}}.progress-table{background:#fff;padding:15px 0px 30px 0px;min-width:800px}.progress-table .serial{width:11.83%;padding-left:30px}.progress-table .country{width:28.07%}.progress-table .visit{width:19.74%}.progress-table .percentage{width:40.36%;padding-right:50px}.progress-table .table-head{display:flex}.progress-table .table-head .serial,.progress-table .table-head .country,.progress-table .table-head .visit,.progress-table .table-head .percentage{color:#222222;line-height:40px;text-transform:uppercase;font-weight:500}.progress-table .table-row{padding:15px 0;border-top:1px solid #edf3fd;display:flex}.progress-table .table-row .serial,.progress-table .table-row .country,.progress-table .table-row .visit,.progress-table .table-row .percentage{display:flex;align-items:center}.progress-table .table-row .country img{margin-right:15px}.progress-table .table-row .percentage .progress{width:80%;border-radius:0px;background:transparent}.progress-table .table-row .percentage .progress .progress-bar{height:5px;line-height:5px}.progress-table .table-row .percentage .progress .progress-bar.color-1{background-color:#6382e6}.progress-table .table-row .percentage .progress .progress-bar.color-2{background-color:#e66686}.progress-table .table-row .percentage .progress .progress-bar.color-3{background-color:#f09359}.progress-table .table-row .percentage .progress .progress-bar.color-4{background-color:#73fbaf}.progress-table .table-row .percentage .progress .progress-bar.color-5{background-color:#73fbaf}.progress-table .table-row .percentage .progress .progress-bar.color-6{background-color:#6382e6}.progress-table .table-row .percentage .progress .progress-bar.color-7{background-color:#a367e7}.progress-table .table-row .percentage .progress .progress-bar.color-8{background-color:#e66686}.single-gallery-image{margin-top:30px;background-repeat:no-repeat !important;background-position:center center !important;background-size:cover !important;height:200px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.single-gallery-image:hover{opacity:.8}.list-style{width:14px;height:14px}.unordered-list li{position:relative;padding-left:30px;line-height:1.82em !important}.unordered-list li:before{content:"";position:absolute;width:14px;height:14px;border:3px solid #f8b600;background:#fff;top:4px;left:0;border-radius:50%}.ordered-list{margin-left:30px}.ordered-list li{list-style-type:decimal-leading-zero;color:#f8b600;font-weight:500;line-height:1.82em !important}.ordered-list li span{font-weight:300;color:#777777}.ordered-list-alpha li{margin-left:30px;list-style-type:lower-alpha;color:#f8b600;font-weight:500;line-height:1.82em !important}.ordered-list-alpha li span{font-weight:300;color:#777777}.ordered-list-roman li{margin-left:30px;list-style-type:lower-roman;color:#f8b600;font-weight:500;line-height:1.82em !important}.ordered-list-roman li span{font-weight:300;color:#777777}.single-input{display:block;width:100%;line-height:40px;border:none;outline:none;background:#f9f9ff;padding:0 20px}.single-input:focus{outline:none}.input-group-icon{position:relative}.input-group-icon .icon{position:absolute;left:20px;top:0;line-height:40px;z-index:3}.input-group-icon .icon i{color:#797979}.input-group-icon .single-input{padding-left:45px}.single-textarea{display:block;width:100%;line-height:40px;border:none;outline:none;background:#f9f9ff;padding:0 20px;height:100px;resize:none}.single-textarea:focus{outline:none}.single-input-primary{display:block;width:100%;line-height:40px;border:1px solid transparent;outline:none;background:#f9f9ff;padding:0 20px}.single-input-primary:focus{outline:none;border:1px solid #f8b600}.single-input-accent{display:block;width:100%;line-height:40px;border:1px solid transparent;outline:none;background:#f9f9ff;padding:0 20px}.single-input-accent:focus{outline:none;border:1px solid #eb6b55}.single-input-secondary{display:block;width:100%;line-height:40px;border:1px solid transparent;outline:none;background:#f9f9ff;padding:0 20px}.single-input-secondary:focus{outline:none;border:1px solid #f09359}.default-switch{width:35px;height:17px;border-radius:8.5px;background:#fff;position:relative;cursor:pointer}.default-switch input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0;cursor:pointer}.default-switch input+label{position:absolute;top:1px;left:1px;width:15px;height:15px;border-radius:50%;background:#f8b600;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;box-shadow:0px 4px 5px 0px rgba(0,0,0,0.2);cursor:pointer}.default-switch input:checked+label{left:19px}.single-element-widget{margin-bottom:30px}.primary-switch{width:35px;height:17px;border-radius:8.5px;background:#fff;position:relative;cursor:pointer}.primary-switch input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.primary-switch input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%}.primary-switch input+label:before{content:"";position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;background:transparent;border-radius:8.5px;cursor:pointer;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s}.primary-switch input+label:after{content:"";position:absolute;top:1px;left:1px;width:15px;height:15px;border-radius:50%;background:#fff;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;box-shadow:0px 4px 5px 0px rgba(0,0,0,0.2);cursor:pointer}.primary-switch input:checked+label:after{left:19px}.primary-switch input:checked+label:before{background:#f8b600}.confirm-switch{width:35px;height:17px;border-radius:8.5px;background:#fff;position:relative;cursor:pointer}.confirm-switch input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.confirm-switch input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%}.confirm-switch input+label:before{content:"";position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;background:transparent;border-radius:8.5px;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;cursor:pointer}.confirm-switch input+label:after{content:"";position:absolute;top:1px;left:1px;width:15px;height:15px;border-radius:50%;background:#fff;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;box-shadow:0px 4px 5px 0px rgba(0,0,0,0.2);cursor:pointer}.confirm-switch input:checked+label:after{left:19px}.confirm-switch input:checked+label:before{background:#4cd3e3}.primary-checkbox{width:16px;height:16px;border-radius:3px;background:#fff;position:relative;cursor:pointer}.primary-checkbox input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.primary-checkbox input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;border-radius:3px;cursor:pointer;border:1px solid #f1f1f1}.single-defination h4{color:#131230}.primary-checkbox input:checked+label{background:url(../images/elements/primary-check.png) no-repeat center center/cover;border:none}.confirm-checkbox{width:16px;height:16px;border-radius:3px;background:#fff;position:relative;cursor:pointer}.confirm-checkbox input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.confirm-checkbox input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;border-radius:3px;cursor:pointer;border:1px solid #f1f1f1}.confirm-checkbox input:checked+label{background:url(../images/elements/success-check.png) no-repeat center center/cover;border:none}.disabled-checkbox{width:16px;height:16px;border-radius:3px;background:#fff;position:relative;cursor:pointer}.disabled-checkbox input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.disabled-checkbox input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;border-radius:3px;cursor:pointer;border:1px solid #f1f1f1}.disabled-checkbox input:disabled{cursor:not-allowed;z-index:3}.disabled-checkbox input:checked+label{background:url(../images/elements/disabled-check.png) no-repeat center center/cover;border:none}.primary-radio{width:16px;height:16px;border-radius:8px;background:#fff;position:relative;cursor:pointer}.primary-radio input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.primary-radio input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;border-radius:8px;cursor:pointer;border:1px solid #f1f1f1}.confirm-radio{width:16px;height:16px;border-radius:8px;background:#fff;position:relative;cursor:pointer}.confirm-radio input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.confirm-radio input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;border-radius:8px;cursor:pointer;border:1px solid #f1f1f1}.confirm-radio input:checked+label{background:url(../images/elements/success-radio.png) no-repeat center center/cover;border:none}.disabled-radio{width:16px;height:16px;border-radius:8px;background:#fff;position:relative;cursor:pointer}.disabled-radio input{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;opacity:0}.disabled-radio input+label{position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;border-radius:8px;cursor:pointer;border:1px solid #f1f1f1}.disabled-radio input:disabled{cursor:not-allowed;z-index:3}.unordered-list{list-style:none;padding:0px;margin:0px}.ordered-list{list-style:none;padding:0px}.disabled-radio input:checked+label{background:url(../images/elements/disabled-radio.png) no-repeat center center/cover;border:none}.default-select{height:40px}.default-select .nice-select{border:none;border-radius:0px;height:40px;background:#fff;padding-left:20px;padding-right:40px}.default-select .nice-select .list{margin-top:0;border:none;border-radius:0px;box-shadow:none;width:100%;padding:10px 0 10px 0px}.default-select .nice-select .list .option{font-weight:300;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;line-height:28px;min-height:28px;font-size:12px;padding-left:20px}.default-select .nice-select .list .option.selected{color:#f8b600;background:transparent}.default-select .nice-select .list .option:hover{color:#f8b600;background:transparent}.default-select .current{margin-right:50px;font-weight:300}.default-select .nice-select::after{right:20px}@media (max-width: 991px){.left-align-p p{margin-top:20px}}.form-select{height:40px;width:100%}.form-select .nice-select{border:none;border-radius:0px;height:40px;background:#f9f9ff !important;padding-left:45px;padding-right:40px;width:100%}.form-select .nice-select .list{margin-top:0;border:none;border-radius:0px;box-shadow:none;width:100%;padding:10px 0 10px 0px}.mt-10{margin-top:10px}.form-select .nice-select .list .option{font-weight:300;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;line-height:28px;min-height:28px;font-size:12px;padding-left:45px}.form-select .nice-select .list .option.selected{color:#f8b600;background:transparent}.form-select .nice-select .list .option:hover{color:#f8b600;background:transparent}.form-select .current{margin-right:50px;font-weight:300}.form-select .nice-select::after{right:20px}.page_link a{color:#fff}.template-btn{color:#131230;background:#ffb606;font-family:"Roboto",sans-serif;text-transform:uppercase;font-size:14px;font-weight:500;border:1px solid transparent;display:inline-block;padding:12px 30px !important;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all 0.5s}.template-btn:hover{color:#131230;background:transparent;border:1px solid #ffb606}.template-btn2:hover{color:#ffb606}.template-btn3{color:#131230;font-family:"Roboto",sans-serif;text-transform:uppercase;font-size:14px;font-weight:500;display:inline-block;position:relative}.template-btn3 span{position:absolute;top:0;left:110%;color:#131230;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all 0.5s}.template-btn3:hover{color:#131230}.template-btn3:hover span{color:#ffb606;left:115%}.section-padding{padding:130px 0}.section-padding2{padding-top:130px}.section-padding3{padding-bottom:130px}.section-padding4{padding:130px 0 200px}.section-top{margin-bottom:80px}.section-top .style-change{color:#ffb606;font-style:italic}.section-top2{margin-bottom:80px}.section-top2 span{color:#ffb606}
